@media screen and (max-width: 1400px){
    .contenedor .principal a{
        font-size:60px;
        margin: 0 70px;
    }
    .contenedor .principal .logo{
        width: 50%;
    }
    .contenedor .principal .logo img{
        width: 100%;
    }
}
@media screen and (max-width:800px){
    header nav a{
        font-size: 10px;
    }
    header nav {
        text-align: center;
        margin: 0;
    }
    header nav a{
        font-size: 30px;
    }
    .intro{
        margin-top: 250px;
    }
    .contenedor .principal .logo{
        width: 50%;
    }
    .contenedor .principal .logo img{
        width: 100%;
    }
    .intro a{
        font-size: 40px;
        margin: 0px;
        margin-right: 20px;
    }
    .contenedor .principal{
        margin-bottom: 50px;
    }
    .contenedor .principal a{
        font-size: 30px;
        margin: 0 50px;
    }
    .intro .titulo h2{
        font-size: 40px;
    }
    .intro .titulo p{
        font-size: 20px;
    }
    .boton a{
        font-size: 20px;
    }

}
@media screen and (max-width:500px){
    header nav a{
        font-size: 20px;
        margin: 0 20px;
    }
    .contenedor .principal a{
        font-size: 20px;
        margin: 0 50px;
    }
    .intro{
        margin-top: 250px;
    }

}